@font-face{
  font-family: Exo2Regular;
  src:  url(Fonts/Exo2Regular/Exo2Regular.eot) format('eot'),
        url(Fonts/Exo2Regular/Exo2Regular.woff) format('woff'),
        url(Fonts/Exo2Regular/Exo2Regular.ttf) format('truetype');
}
@font-face{
  font-family: Exo2Bold;
  src:  url(Fonts/Exo2Bold/Exo2Bold.eot) format('eot'),
        url(Fonts/Exo2Bold/Exo2Bold.woff) format('woff'),
        url(Fonts/Exo2Bold/Exo2Bold.ttf) format('truetype');
}
html,body{
  padding: 0px;
  margin: 0px;
}
html body{
  color: #2f2f2f;
  font-family: Exo2Regular;
  font-size: 12.03px;
}

html body>div:nth-child(odd) {
  color: #fff;
}
html body>div:nth-child(even){
  color: #5b5b5b;
  background: #f5f5f5;
}
html body>div:nth-child(1){
  background: url("images/bg_1.jpg") no-repeat;
  background-size: cover;
}
html body>div:nth-child(2){
  background: url("images/bg_2.png") no-repeat 50% 0%;
  background-size: auto 100%;
}
html body>div:nth-child(3){
  background: url("images/bg_3.jpg") no-repeat;
  background-size: cover;
}
html h1{
  font-family:  Exo2Bold;
  font-size: 63.11px;
  font-weight: bold;
}
html h3{
  font-size: 34.42px;
}
html h2{
  text-align: center;
  font-size: 24px;
  margin: 0px;
  font-family: Exo2Bold;
  font-weight: bold;
  text-transform: uppercase;
  color: #318db6;
}
html p{
  line-height: 24px;
  font-size: 15.99px;
  margin: 0px;
}
.button{
  padding: 17px 28px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
  background: none;
  font-family: Exo2Regular;
  font-size: 12.03px;
  display: block;
}
form input,
form textarea{
  background: none;
  border: none;
  resize: none;
}

.header,
.about,
.statistic,
.contacts{
  height: 1024px;
}

/* Основное меню */
.menu a{
  text-decoration: none;
  color: #fff;
}
.menu li.active>a{
  border-bottom: #53AEFD 2px solid;
}
.lvl_one{
  list-style-type: none;
  padding: 0px 80px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.lvl_one>li{
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin: 0px 9px;
}
.lvl_one>li>a{
  display: inline-block;
  margin: 15px 0px;
  padding: 9px 11px 9px 0px;
  border-bottom: transparent 2px solid;
}
.lvl_one>li:hover .lvl_two{
  display: block;
}
.lvl_two{
  display: none;
  position: absolute;
  margin-left: -20px;
}
.lvl_two ul{
  margin-top: 2px;
  background-color: rgba(0, 0, 0, 0.8);
}
.lvl_two li{
  text-transform: none;
  padding: 5px 20px;
}
.lvl_two li:hover a{
  border-bottom: #fff solid 1px;
}
.lvl_two li:first-child{
  padding-top: 10px;
}
.lvl_two li:last-child{
  padding-bottom: 25px;
}

/* Заголов страницы */
.header h1{
  text-transform: uppercase;
  margin-top: 33px
}
.header h3{
  margin-top: 120px;
}
.header .logo{
  margin-top: 150px;
  margin-left: 10px;
  background: url('images/logo.png') no-repeat ;
  height: 140px;
  width: 310px;
}
.header .scroll{
  background: url('images/scroll.png') no-repeat 50% 50%;
  height: 100px;
  margin-top: 150px;
}

/*Страница о фонде*/
.about h2{
  padding-top: 128px;
}
.about h2 span{
  display: block;
  width: 76px;
  height: 3px;
  background-color: #318db6;
  margin: 35px auto 0px auto;
}
.about p{
  padding-top: 28px;
  color: #2f2f2f;
  text-align: center;
}

.about .button{
  border-radius: 2px;
  margin: 50px auto 0px;
}
.about .button img{
  padding-left: 24px;
}
.about .details{
  padding-top: 160px;
  font-size: 15.99px;
  line-height: 36px;
}
.about .details ul{
  padding-left: 23px;
  list-style-image: url("images/element_2.png");
}
.about .details span{
  font-size: 29.98px;
  color: #318db6;
}
.two-columns>div{
    width: 45%;
    margin: 0px 5px;
    display: inline-block;
    vertical-align: top;
}
.about .two-columns>div:nth-child(1){
  padding-right: 35px;
}
.about .two-columns>div:nth-child(2){
  padding-left: 35px;
}

/*Страница со статистикаой*/
.statistic{
  color: #fff;
}
.statistic h2{
  padding-top: 205px;
  text-transform: initial;
  font-weight: normal;
  color: #fff;
  font-family: Exo2Regular;
}
.indicators{
  padding-top: 100px;
  text-align: center;
}
.indicators>div{
  font-size: 16px;
}
.indicators>div p{
  padding: 20px 5px;
}
.indicators>div p span{
  text-transform: uppercase;
  display: block;
}
.indicators .circle{
  background: url("images/element.png") no-repeat 50% 50%;
  height: 170px;
  position: relative;
  text-align: center;
  display: inline-table;
  width: 100%;
}
.indicators .circle span{
  vertical-align: middle;
  font-weight: bold;
  font-family: Exo2Bold;
  display: table-cell;
  padding: 0px 30%;
}
.statistic .warning{
  padding-top: 130px;
}
.statistic .warning img{
  padding-top: 10px;
}

/*экран контактов*/
.contacts>div{
  position: relative;
  height: 100%;
}
.contacts h2{
  padding-top: 105px;
}
.address{
  padding-top: 70px;
  text-align: center;
}
.address span{
  text-transform: uppercase;
  font-family: Exo2Bold;
}
.address{
  text-align: center;
}
.feedback{
  padding-top: 85px;
}
.feedback>div{
  border-top: 1px solid #c9c9c9;
}
.feedback label{
  display: block;
  font-size: 15.99px;
  padding: 20px 20px 5px;
}
.feedback input,
.feedback textarea{
  font-size: 15.99px;
  padding: 3px;
  width: 90%;
  margin: 0px 20px 5px;
}
.feedback div.required label:after{
  padding-left: 5px;
  content: '*';
}
.contacts #message{
  height: 90px;
}
.feedback div:nth-child(6){
  border-color: #242424;
  border-width: 3px;
}
.feedback div:nth-child(7) label{
  display: inline-block;
}
.feedback #attachment{
  width: 300px;
}
.feedback .form-footer{
  padding-top: 20px;
  border: none;
}
.feedback .form-footer .button{
  width: 170px;
  margin: 0px 10px 0px auto;
  border-width: 2px;
  font-size: 11.99px;
}
.feedback .form-footer .notif{
  padding-left: 20px;
  font-size: 14px;
  line-height: 50px;
}

/*подвал сайта*/
.footer{
  width: 100%;
  height: 65px;
  background: #303030;
  color: #fff;
  display: table;
  position: absolute;
  bottom: 0px;
}
.footer>*{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.footer form label{
  display: inline-block;
  padding-right: 10px
}
.footer form input{
  width: 85%;
  color: #fff;
  border-bottom: 1px solid #c9c9c9;
}
.footer>div{
  width: 190px;
}
